h1 {
	color: #f7fcfd;
	width: 100%;
	text-align: center;
	z-index: 1;
}

svg {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	transform: rotate(180deg);
	width: 100%;
	overflow: hidden;
}

path {
	z-index: 0;
}

#header {
	height: 30px;
}

#pdf {
	margin-top: 70px;
	height: 1000px;
	height: calc(100% - 120px);
}
